# Files and folders that might appear on external disks
.Spotlight-V100
.Trashes

# Folder view configuration
.DS_Store
Desktop.ini

# Editor configuration
.idea
*.sublime-project
*.sublime-workspace

# Logs
*.log*

# Node specific
node_modules
*.tgz

# Yarn specific
yarn.lock

# Android specific
libraries/*/.gradle
libraries/*/local.properties

# Repository specific
coverage
packages/*/dist
packages/npm/src/definitions
packages/npm/src/tokens.scss
packages/npm/src/theme-*.scss
libraries/**/build
libraries/android/*/src/main/res/values*
