# Files and folders that might appear on external disks
.Spotlight-V100
.Trashes

# Folder view configuration
.DS_Store
Desktop.ini

# Editor configuration
.idea
*.sublime-project
*.sublime-workspace

# Logs
*.log*

# Node specific
node_modules
*.tgz

# Yarn specific
yarn.lock

# Repository specific
coverage
dist
packages/npm/src/tokens.scss
packages/npm/src/theme-*.scss
packages/npm/src/definitions/border-radius.scss
packages/npm/src/definitions/borderRadius.ts
packages/npm/src/definitions/color-palette.scss
packages/npm/src/definitions/colorPalette.ts
packages/npm/src/definitions/theme-colors.scss
packages/npm/src/definitions/themeColors.ts
